
.content h1{
	padding: 0px;
	margin: 0px;
}

.inputBox{
	position: relative;
	width: 100%-4px;
	align-content: center;
	margin-top: 30px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #ccc;
	border: 2px solid black;
	overflow: hidden;
}

.logoImage{
	width: 30%;
}

.uploadLabel{
	font-family:Arial,sans-serif;
	font-size: 15px;
	background-color: black;
	padding: 15px;
	border-radius: 10px;
	color:white;
	margin-top: 15px;
	
	cursor:pointer;
}

.dropzone{
	margin-bottom: 20px;
}

.left{
	display: none;
	width: 30%;
	float:left;
}

.mid{
	display: none;
	width: 40%;
	float:left;
}

.right{
	text-align: center;
	display: none;
	width: 25%;
	float:left;
	padding: 10px;
	background-color: #eee;
	border: 1px solid black;
}

.right input{
	float: right;
}
.right label{
	float: left;
}

.checkBox{
	margin: 0;
	margin-bottom: 5px;
}


.intro{
	position: relative;
	width: 80%;
	left:10%;
	align-content: center;
	padding-top: 40px;
	padding-bottom: 30px;
	margin-bottom:40px;
}
.intro p{
	
	padding-left: 15px;
	padding-right: 15px;
	font-size: 18px;
	line-height: 1.6;
}

.image{
	margin-bottom: 30px;
	
}

.mainButtons{
	color:white;
	background-color: black;
	border-radius: 10px;
	border-color: black;
	padding: 13px;
	margin-bottom: 10px;
	cursor:pointer;
	font-size: 13px;
}
.buttons{
	text-align: center;
}

.progressBar{
	margin-bottom: 10px;
	position: relative;
	left: 10%;
	width: 80%;
	height: 14px;
	padding-top:1px;
	padding-bottom:1px;
	background-color: gray;
	border-radius: 4px;
}

.bar{
	color: white;
	width:0.1%;
	height: 100%;
	padding-top: 1px;
	font-size: 12px;
	background-color: black;
	text-align: center;
	border-radius: 4px;
}

.fileInput{
	width: 0.1px;
	height: 0.1px;
}

.loading{
	width 40px;
	height: 40px;
}

.pbText{
	margin:5px;
}