body{
	background: #ddd;
	font-family:Arial,sans-serif;
	padding-top: 0px;
	margin: 0px;
	text-align: center;
}

.header{
	position: relative;
	width: 60%;
	left:20%;
 	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	background-color: black;
	margin-top: 0px;
}

.header a{
	padding-left: 25px;
	padding-right: 25px;
	text-decoration: none;
	color: white;
}
.content{
	position: relative;
	background: #eee;
	width:60%;
	left:20%;
	padding-top: 30px;
	
}
.content h1{
	padding: 0px;
	margin: 0px;
}

.inputBox{
	position: relative;
	width: 100%-4px;
	align-content: center;
	margin-top: 30px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #ccc;
	border: 2px solid black;
	overflow: hidden;
}

.logoImage{
	width: 30%;
}

label{
	background-color: black;
	padding: 15px;
	border-radius: 10px;
	color:white;
	margin-top: 15px;
	
	cursor:pointer;
}
.dropzone{
	margin-bottom: 20px;
}

.left{
	display: none;
	width: 50%;
	float:left;
}
.right{
	display: none;
	width: 50%;
	float:left;
}


.intro{
	position: relative;
	width: 80%;
	left:10%;
	align-content: center;
	padding-top: 40px;
	padding-bottom: 30px;
	margin-bottom:40px;
}
.intro p{
	
	padding-left: 15px;
	padding-right: 15px;
	font-size: 18px;
	line-height: 1.6;
}

.image{
	margin-bottom: 30px;
	
}

.downloadButton{
	color:white;
	background-color: black;
	border-radius: 10px;
	border-color: black;
	padding: 10px;
	margin-bottom: 10px;
	cursor:pointer;
}

.buttons{
	text-align: center;
}

.progressBar{
	margin-bottom: 10px;
	position: relative;
	left: 10%;
	width: 80%;
	height: 14px;
	padding-top:1px;
	padding-bottom:1px;
	background-color: gray;
	border-radius: 4px;
}

.bar{
	color: white;
	width:0.1%;
	height: 100%;
	padding-top: 1px;
	font-size: 12px;
	background-color: black;
	text-align: center;
	border-radius: 4px;
}

@media (max-width: 950px) {
	.content, .header{
		width: 80%;
		left:10%;
	}
}

@media (max-width: 650px) {
	.content, .header{
		width: 90%;
		left:5%;
	}
}

input{
	width: 0.1px;
	height: 0.1px;
}

.loading{
	width 40px;
	height: 40px;
}

.pbText{
	margin:5px;
}